<% myUser = User.new("1","Kevin","me@mine.com") %>

<h1> <%= myUser.userInfo %> </h1>


<% myUser2 = User.new("2","Kevin2","me2@mine.com") %>

<h1> <%= myUser2.userInfo %> </h1>


<% myUser3 = User.new("3","Kevin3","me3@mine.com") %>

<h1> <%= myUser3.userInfo %> </h1>


<% myUser4 = User.new("4","Kevin4","me4@mine.com") %>

<h1> <%= myUser4.userInfo %> </h1>
